@{
    ViewData["Title"] = "Home Page";
}
@section Style {
    <style>
        .container {
            padding: 0%;
            
            margin: 0%;
            max-width: 100%;
        }
    </style>
}

<div id="bg">
    <img id="logo" src="~/Images/LumberEverything.jpg" />
</div>
