@model LumberManagerWebEdition.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox group1">
                    <input type="checkbox" id="ww" value="WW" class="group1"/>
                    <label for="ww">White Wood</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="25" class="group2" />
                    <label for="25">.25</label>
                </div>
                <div>
                    <input type="checkbox" id="40" class="group2" />
                    <label for="40">.40</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="60" class="group2" />
                    <label for="60">.60</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="acq" class="group3" />
                    <label for="acq">ACQ</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="cca" class="group3"/>
                    <label for="cca">CCA</label>
                </div>
            </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
